# Ignore Python virtual environments
venv/
env/
devplan/
__pycache__/
*.pyc

# Ignore React build
react-ui/node_modules/
react-ui/build/

# Ignore system and editor files
.DS_Store
*.log
*.swp

# Ignore Python environment folders accidentally tracked
bin/
lib/
lib64/
share/
include/
pyvenv.cfg
